# Pluggins
bundle/*
autoload/*

# Deoplete
.init.vim-rplugin~
.netrwhist
doc/
plugin/
rplugin/
CONTRIBUTING.md
Makefile
README.md
run_tests.sh

# Vim
config/nvim/LICENSE
config/nvim/autoload/
config/nvim/bundle/

